{% load static %}
{% load portal_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>CaaS - HPCC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

  <style>
  td {
    white-space: normal !important;
    word-wrap: break-word;
    vertical-align: middle !important;
  }
  table {
    table-layout: fixed;
  }

  </style>
</head>


<body>


<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'portal:mgr_home' %}">CaaS - System Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto nav-tabs">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'portal:mgr_hypervisors' %}">Hypervisors</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'portal:mgr_users' %}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'portal:mgr_projects' %}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'portal:mgr_roles' %}">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'portal:mgr_instances' %}">Instances</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a href="{% url 'portal:home' %}"><button type="button" class="btn btn-raised btn-secondary">HOME</button></a>
        <button type="button" class="btn btn-raised btn-secondary"><a href="{% url 'portal:logout_system' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></button>
      </span>
    </div>
</nav>


<div class="container-fluid">
	<h2>Details for user: {{user_detail.user.name}} </h2>
	<table class="table table-bordered table-hover">
	  <tbody>
	     <tr>
	      <td>
			<b>--------------List projects for user-------------- </b><br/>
			{% for project in project_user_belong_to.projects %}
			<b>Project name:</b> {{project.name}}<br/>
			<b>Project ID:</b> {{project.id}}<br/>
			<b>Project enabled:</b> {{project.enabled}}<br/>
			<b>Domain ID:</b> {{project.domain_id}}<br/>
			<b>-------------------------------------------------- </b><br/>
			{%  endfor %}
	      </td>
	      <td>
	      		<b>UserID:</b> {{user_detail.user.id}}<br/>
	      	   	<b>User enabled:</b> {{user_detail.user.enabled}}<br/>
	      	    <b>Password Expires at:</b> {{user_detail.user.password_expires_at}}<br/>
	      		<br/>
	      </td>
	      <!-- <td>
	      	<form>
	      	  	<div class="form-group">
	      	      <label for="inputPassword" class="control-label">Reset password</label>
	      	          <input type="password" class="form-control" id="inputPassword" placeholder="Password" required><br/>
	      	          <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
	      	          <div class="help-block with-errors"></div>
	      	    </div>

	      	  <button type="submit" class="btn btn-primary">Submit</button>
	      	</form>
	      </td> -->
	     </tr>
	  </tbody>
	</table>






</div>

<!--
<footer class="container-fluid text-left">
  <div>[CONFIDENTAL] Vu Anh Son - HEDSPI 8 - Thesis - Cluster as a Service v0.2</div>
</footer>
-->
</body>

</html>
